p{
    border: 2PX solid powderblue;
    padding: 70px;
    margin: 30px;
    text-align: center;
}

h2{
    text-align: center;
    display: inline-block;
    text-decoration: none;
}

a{
    text-decoration: none;

    color: black;
    font-size: 20px;
    margin-right: 40px;
    

}
a:hover{
    color: rgb(208, 78, 169);
    text-decoration: underline;
}

body{
    margin-top: 30px;
}